button{
    color : white;
    background-color: red;
    border-radius: 6px;
    margin: 10px;
    padding : 7px 20px;
    border : none;
    font-weight: 900;
    transition:all 0.5s ease;
    cursor: pointer;
}
button:hover{
    border : 1px solid gray;
    color : red;
    background-color: white;    
}
.button-small{
    width : 100px;
}

.button-medium{
    width : 150px;
}

.button-large{
    width : 165px;
    height: 40px;
}

.active{
    color : red;
    background-color: white;
    border: 1px solid gray;
}
