.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.contact-us h1{
    font-size: xxx-large;
}

h5{
    font-size: medium;
    width : 800px;
    margin :  auto;
}
.img-form{
    display: flex;
    justify-content: space-around;
    text-align: center;


}
.img-contact{
    width: 500px;
    margin: auto;

}
.form-contact{
    display: flex;
    gap : 20px;
    flex-direction: column;
    width : 40%;
    padding : 100px 40px 0 0  
}
textarea{
    width : 50%;
    height:  80px;
}
.form-contact input{
    width : 95%;
    height: 30px;
}

.contact-submission{
    width : 60%;
    background-color: white;
    border-radius: 20px;
    position: fixed;
    top : 30%;
    left : 20%
}

.contact-submission img{
    width : 400px
}

.contact-submission h3{
    color : red;
    font-weight: bold;
    font-style: italic;
}