.card{
    display: flex;
    flex-direction: column;
    width : 250px;
    justify-content: center;
    border : 1px solid gainsboro;
    box-shadow: 0 2px 1px gray;
    border-radius: 20px;
    align-items: center;
}
p{
    padding: 0 20px;;
}
.card img{
    width : 150px;
    margin-top: 10px;
}

.card-footer{
    display: flex;
    justify-content: space-around;
}

.card-chef{
    width : 250px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden; /* Ensures the image doesn't overflow */
    position: relative;
}
.card-chef::after{
    content: attr(name);
    width : 100%;
    font-size: 20px;
    color: #f85437;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left : 1%;
    transition: all 1s ease-in;  
}

.card-chef:hover{
    transform: scale(1.1);
}

.card-img{
    width : 100%;
    height: 100%;
    object-fit: cover;
}
.card-child{
    margin : 40px auto;
    width : 60%;
    height: 20%;
    background-color: pink;

}