.menu{
    width: 100%;
    flex-direction: column;
    display: flex;
    gap : 5px;
}
.menu-margin{
    margin-top: 100px;
}
.cards{
    margin : 40px auto;
    gap : 20px;
    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.cards-chef{
    gap : 40px;
    grid-template-rows: repeat(1 , 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.chefs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.customer-say{
    width : 30%;
    margin: auto ;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 1px 2px grey;
    position: relative;
}

.customer-say .customer-info img{
    border-radius: 50%;
    object-fit: cover;
    width : 75px;
    height: 75px;
}
.customer-say p::before{
content: "``";
width: 40px;
height: 20px;
color: black;
font-weight: bold;
font-size: 30px;
}
.customer-say p::after{
content: "``";
width: 40px;
height: 20px;
color: black;
font-weight: bold;
font-size: 30px;
}

.customer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
